/* Here is your custom css styles. */
/* @font-face{
    font-family: FZYanSongM;
    src: url(/libs/FZYanSongM.ttf)
}

.title, .card-title {
    font-family: FZYanSongM, sans-serif;
} */

.title:hover {
    text-shadow: rgba(51, 51, 51, 0.7) 10px 10px 10px;
    -webkit-transition: text-shadow 1s ease;
    -moz-transition: text-shadow 1s ease;
    -o-transition: text-shadow 1s ease;
    -ms-transition: text-shadow 1s ease;
    transition: text-shadow 1s ease;
  }

/* 文章背景虚化 */
.post-cover:before, .post-cover:after{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background: inherit;
    filter: blur(12px);
}

/* 文章上放的高度 */
.post-cover {
    height: 18vh !important;
}

@-webkit-keyframes rainbow {
   
}

@keyframes rainbow {
   
}

/* 目录
.toc-content{
    max-height: 78vh;
    overflow-y: scroll;
    margin-right: -20px;
    padding-right: 20px;
} */