/* Here is your custom css styles. */
/* @font-face{
    font-family: FZYanSongM;
    src: url(/libs/FZYanSongM.ttf)
}

.title, .card-title {
    font-family: FZYanSongM, sans-serif;
} */

/* 标题鼠标经过效果 */
.title:hover {
    text-shadow: rgba(51, 51, 51, 0.7) 10px 10px 10px;
    -webkit-transition: text-shadow 1s ease;
    -moz-transition: text-shadow 1s ease;
    -o-transition: text-shadow 1s ease;
    -ms-transition: text-shadow 1s ease;
    transition: text-shadow 1s ease;
  }

/* 文章背景虚化 */
.post-cover:before, .post-cover:after{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background: inherit;
    filter: blur(12px);
}

/* 文章上放的高度 */
.post-cover {
    height: 18vh !important;
}

/* 原主题彩虹样式 */
@-webkit-keyframes rainbow {
   
}

@keyframes rainbow {
   
}

/* 目录
.toc-content{
    max-height: 78vh;
    overflow-y: scroll;
    margin-right: -20px;
    padding-right: 20px;
} */

/* 下面是瞎折腾区域 */

.card {
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
}
.card .card-image img {
    border-radius: 5px 5px 0 0;
}

.bg-color {
    background-image: linear-gradient(to right, #3f54af 0%, #f76363 100%);
}

.text-color {
    color: #2886d3 !important;
}

.progress-bar {
    height: 4px;
    position: fixed;
    bottom: 0;
    z-index: 300;
    background: linear-gradient(to right, #76adff 0%, #c42bc4 100%);
    opacity: 0.8;
}
